{
  "env": {
    "node": true
  },
  "rules": {
    "explicit-return": 2,
    "must-return": 2,
    "no-classes": 0,
    "no-deletes": 2,
    "no-exceptions": 2,
    "no-exports": 0,
    "no-fors": 2,
    "no-function-expressions": 0,
    "no-ifs": 2,
    "no-imports": 0,
    "no-instanceofs": 2,
    "no-new": 2,
    "no-nulls": 2,
    "no-reassigns": 1,
    "no-switches": 2,
    "no-this": 2,
    "no-typeofs": 2,
    "no-undefined": 0,
    "no-variable-declaration": 0,
    "no-whiles": 2,

    "quotes": [2, "single"],
    "strict": 0,
    "eol-last": 0,
    "semi": 0
  }
}
